-let pageTitle = 'Home'
-let siteName = 'EDboilerplate'
-let twitterAccount = '@edteamlat'
-let pageDescription = 'Simple boilerplate for static web projects with sass, pug and babel'
-let pageImage = ''
-
  let pages = [
    {
      title: 'Home',
      url: '/',
      child: []
    },
    {
      title: '¿Quiénes somos?',
      url: '/nosotros',
      child: []
    }
  ]
