extends /config/template
append config
  -pageTitle = 'Nosotros'
  -pageDescription = 'Página de nosotros'
  -pageImage = ''

block main
    include /includes/main-menu
    
    h1 Hola mundo
    p Esta página es de la sección de nosotros realizada con PUG.